### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [8]:
players = {
    'Total # of Players': [game_data_df['SN'].count()]
}

players_count = pd.DataFrame(players)
players_count

   Total # of Players
0                 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
total_unique_items = game_data_df['Item Name'].count()
total_avg_price = game_data_df['Price'].mean()
total_purchases = game_data_df['Price'].count()
total_revenue = game_data_df['Price'].sum()

purchase_analysis = {
    '# of Unique Items': [game_data_df['Item Name'].count()],
    'Average Price': [game_data_df['Price'].mean()],
    '# of Purchases': [game_data_df['Price'].count()],
    'Total Revenue': [game_data_df['Price'].sum()]
}

purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

   # of Unique Items  Average Price  # of Purchases  Total Revenue
0                780       3.050987             780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
players_by_gender = game_data_df['Gender'].value_counts()
players_by_gender_df = pd.DataFrame(players_by_gender)

percent_players = (game_data_df['Gender'].value_counts() / (game_data_df['Gender'].count())) * 100

players_by_gender_df['Percent of Players'] = percent_players
gender_demographics_df = pd.DataFrame(players_by_gender_df)
gender_demographics_df

new_gender_demographics_df = gender_demographics_df.rename(columns={
    'Gender': 'Total Count',
})
new_gender_demographics_df

                       Total Count  Percent of Players
Male                           652           83.589744
Female                         113           14.487179
Other / Non-Disclosed           15            1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
all_gender_df = game_data_df.groupby('Gender')

player_count = all_gender_df['SN'].count()
player_count_df = pd.DataFrame(player_count)

avg_price = all_gender_df['Price'].mean()

total_gender_purchase = all_gender_df['Price'].sum()

player_count_df['Average Purchase Price'] = avg_price
gender_purchase_df = pd.DataFrame(player_count_df)

new_gender_purchase_df = gender_purchase_df.rename(columns={
    'SN': 'Purchase Count',
})

new_gender_purchase_df['Total Purchase Price'] = total_gender_purchase
new_gender_purchase2_df = pd.DataFrame(new_gender_purchase_df)

total_gender_purchase_df = pd.DataFrame(new_gender_purchase2_df)
total_gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Price
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

game_data_df['Total Count'] = pd.cut(game_data_df['Age'],
                                     bins, labels=group_names)
age_groups = game_data_df.groupby('Total Count')
age_groups_df = age_groups.count()

organized_age_df = age_groups_df[['Age']]
organized_age_df

             Age
Total Count
<10           32
10-14         54
15-19        200
20-24        325
25-29         77
30-34         52
35-39         33
40+            7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
bins2 = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names2 = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

game_data_df['Total Count'] = pd.cut(game_data_df['Item ID'],
                                     bins2, labels=group_names2)
age_groups2 = game_data_df.groupby('Total Count')
age_groups2_df = age_groups2.count()
age_purchase = age_groups2_df['Item ID']
age_purchase

organized_age2_df = age_groups2_df[['Item ID']]
organized_age2_df

             Item ID
Total Count
<10               44
10-14             22
15-19             23
20-24             23
25-29             12
30-34             22
35-39             23
40+              252

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
count_per_SN = game_data_df.groupby('SN')['Price'].count()
count_per_SN_df = pd.DataFrame(count_per_SN)

unique_SN_df = game_data_df.groupby('SN')['Price'].sum()


avg_price_per_SN = game_data_df.groupby('SN')['Price'].mean()

count_per_SN_df['Average Purchase Price'] = avg_price_per_SN

count_per_SN_df['Total Purchase Value'] = unique_SN_df
count_per_SN_df

updated_count_per_SN_df = count_per_SN_df.rename(columns={
    'Price': 'Purchase Count',
})

sorted_SN_df = updated_count_per_SN_df.sort_values(by=['Total Purchase Value'], ascending=False)
sorted_SN_df

sorted_SN_df.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
count_per_item = game_data_df.groupby('Item ID')['Price'].count()
count_per_item_df = pd.DataFrame(count_per_item)

unique_item_df = game_data_df.groupby('Item ID')['Price'].sum()

item_name_df = game_data_df.iloc[:, 3]
count_per_item_df['Item Name'] = item_name_df

item_price_df = game_data_df.iloc[:, 4]
count_per_item_df['Item Price'] = item_price_df

count_per_item_df['Total Purchase Value'] = unique_item_df
count_per_item_df

updated_count_per_item_df = count_per_item_df.rename(columns={
    'Price': 'Purchase Count',
})


updated_count_per_item_df.head(5)

         Purchase Count Item Name  Item Price  Total Purchase Value
Item ID
0                     4      Male         108                  5.12
1                     3      Male         143                  9.78
2                     6      Male          92                 14.88
3                     6      Male         100                 14.94
4                     5      Male         131                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
count_per_item2 = game_data_df.groupby('Item ID')['Price'].count()
count_per_item2_df = pd.DataFrame(count_per_item2)

unique_item2_df = game_data_df.groupby('Item ID')['Price'].sum()

item_name2_df = game_data_df.iloc[:, 3]
count_per_item2_df['Item Name'] = item_name2_df

item_price2_df = game_data_df.iloc[:, 4]
count_per_item2_df['Item Price'] = item_price2_df

count_per_item2_df['Total Purchase Value'] = unique_item2_df
count_per_item2_df

updated_count_per_item2_df = count_per_item2_df.rename(columns={
    'Price': 'Purchase Count',
})


sorted_items2_df = updated_count_per_item2_df.sort_values(by=['Total Purchase Value'], ascending=False)

sorted_items2_df.head(5)

,Purchase Count,Item Name,Item Price,Total Purchase Value
Item ID,,,,
178,12,Female,57,50.76
82,9,Other / Non-Disclosed,160,44.10
145,9,Male,46,41.22
92,8,Female,39,39.04
103,8,Male,7,34.80